* {
  box-sizing: border-box;
}

header {
  width: 5%;
  margin: 2rem auto;
  font-size: xx-large;
  font-weight: 800;
}

main {
  width: 50%;
  margin: auto;
  padding: 2rem 1rem;
  border: 1px solid black;
}

button {
  float: right;
  cursor: pointer;
}

div {
  text-align: center;
}

.player-name {
  clear: right;
  margin: 1rem;
}

.board {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section {
  border: 1px solid;
  text-align: center;
}

aside {
  border: 1px solid;
  text-align: center;
  line-height: 100px;
  width: 10%;
}

.pits {
  display: flex;
  justify-content: space-around;
}

.pits > div {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 5px;
  border: 1px solid black;
  animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff;
  }
  to {
    box-shadow: 0 0 40px #0ff;
  }
}