* {
  box-sizing: border-box;
}

header {
  width: 5%;
  margin: 2rem auto;
  font-size: xx-large;
  font-weight: 800;
}

main {
  width: 50%;
  margin: auto;
  padding: 2rem 1rem;
  border: 1px solid black;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.meta__toss {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.meta > button {
  cursor: pointer;
}

.game > h3 {
  text-align: center;
}

.game__board {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.game__score {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-size: large;
  font-weight: 800;
}

.game__pits {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  text-align: center;
}

.game__pits > div {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 5px;
  border: 1px solid black;
}

.game__pit--glow {
  animation: glowing 1s ease-in-out infinite alternate;
}


@keyframes glowing {
  from {
    box-shadow: 0 0 0 grey, 0 0 0 black;
  }
  to {
    box-shadow: 10px 10px 10px grey, 0 0 10px black; 
  }
}