* {
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

body {
  background-color: black;
  color: #149414;
}

header {
  width: 5%;
  margin: 2rem auto;
  font-size: xx-large;
  font-weight: 800;
}

main {
  width: 50%;
  margin: auto;
}

.rules {
  margin-bottom: 2rem;
}

.rules__heading, .rules__list {
  font-family: monospace;
}

.rules__list {
  font-size: 0.9rem;
  line-height: 1.5;
}

.area {
  padding: 2rem 1rem;
  border: 1px solid #149414;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.meta__turn {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.meta > button {
  cursor: pointer;
  background-color: black;
  color: #149414;
}

.game > h3 {
  text-align: center;
}

.game__board {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.game__score {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-size: large;
  font-weight: 800;
}

.game__pits {
  display: flex;
  justify-content: space-around;
  border: 1px solid;
  text-align: center;
}

.game__pits > div {
  height: 50px;
  width: 50px;
  line-height: 50px;
  margin: 5px;
  border: 1px solid #149414;
}

.game__pit--glow {
  animation: glowing 0.5s ease-in-out infinite alternate;
}


@keyframes glowing {
  from {
    box-shadow: 0 0 0 #628e62, 0 0 0 #0e6b0e;
  }
  to {
    box-shadow: 5px 5px 5px #628e62, 0 0 5px #0e6b0e; 
  }
}